[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
optimizer = true
optimizer_runs = 200
via_ir = true

[rpc_endpoints]
celo_sepolia = "https://forno.celo-sepolia.celo-testnet.org"
celo = "https://forno.celo.org"

[etherscan]
celo_sepolia = { key = "${CELOSCAN_API_KEY}", url = "https://api-alfajores.celoscan.io/api" }
