[build]
  command = "npm run build"
  publish = "out"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/jobs/:id"
  to = "/.netlify/functions/jobs?id=:id"
  status = 200
  force = true

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true
